*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
background:#f2f2f2;
font-family: 'Montserrat', sans-serif;
} 
nav,footer{
  background:rgba(0,0,0,0.5);
  height:80px;
  }
    nav {
      position: fixed; /* Set the navbar to fixed position */
      top: 0; /* Position the navbar at the bottom of the page */
      width: 100%; /* Full width */
      z-index: 2;
    }
  
  label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  font-weight: bold;
padding-left: 50px;

  }
  nav ul{
  float: right;
  margin-right: 20px;
  }
  nav ul li{
  display: inline-block;
  line-height:80px; 
  margin:0 5px;
  }
  nav ul li a:hover{
    background:white;
    color:black;
  }
  nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
  
  }
  .checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  
  }
  #toggle{
  display: none;
  }
  .showcase::after{
    content: '';
  background-image: url(../images/bg.jpg);
  background-attachment: fixed;
    min-height:100vh;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 5px;
    animation:scale 1s linear;
  }  
  .showcase .content{
    position: absolute;
      top:10%;
       left:50%;
       margin-top:105px;
       margin-left:-145px;
       width: 300px;
       height: 350px;
       text-align: center;
       transition: all .5s;
       color:whitesmoke;
       text-transform: uppercase;
       font-size: 20px;
}
  .aboutme{
    height:auto;
    width: 100%;
    border-radius: 5px;
    line-height: 2rem;
  }
    .grid-2{
      display: flex;
      height: auto;
      align-items: center;
      justify-content:space-evenly;
  }
   .image{
      width:300px;
      height: 300px;
     
      
  } 
  img{
      width:100%;
       height: 100%; 
      border-radius: 5%;
      border:white 10px solid;
      box-shadow: 0 0 10px blanchedalmond;
  }
  .grid-2 .content{
  
    width:50%;
    align-items: center;
}
/*The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .box {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  .skill{
    background-image: url(../images/skill-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   list-style: none;
   border-radius: 10px;
    height: auto;
    text-align: center;
    letter-spacing: 2px;
    line-height: 3rem;
    padding:30px 0;
  }
  .name{
    color:#50E590;
  }
 
  #social{
    display:flex;
    justify-content: center;
    width: 80%;
}
#social li{
    list-style: none;
}
.media{
    position:relative;
    width:60px;
    height:60px;
    background:linear-gradient(0deg,#ddd,#fff);
    display:block;
    color:black;
    margin-left:20px;
    text-align:center;
    border-radius:50%;
    padding:6px;
    box-sizing: border-box;
    box-shadow: 0 10px 15px  rgba(0, 0,0, 0.3);
    transition:.5s;
   
}
.media:hover{
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.media .fab{
    
    width:100%;
    height:100%;
    line-height: calc(60px - 12px);
    background:linear-gradient(0deg,#fff,#ddd);
    border-radius:50%; 
    font-size:25px;
    transition:.4s;
}
#social li:nth-child(1) a:hover .fab{
    color:#3b5998;
}
 #social li:nth-child(2) a:hover .fab{
    color:#bb0000;
}

 #social li:nth-child(3) a:hover .fab{
    color:#dd4b39;
}

 #social li:nth-child(5) a:hover .fab{
    color: #0e76a8 ;
}
 #social li:last-child a:hover .fab{
    color: #3b5998;
}
.jumbo{
  background-image: url(../images/wave.png);
  width: 100%;
  height:auto;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
	background-repeat:no-repeat;
}
.jumbo .bio{
 line-height: 2rem;

}
footer{
  line-height: 80px;
  color:#50E590;
 }
 section .title{
  border-bottom: 2px solid #50E590;;
  width:150px;
  letter-spacing: 2px;
  margin-top: 100px;
  margin-bottom: 50px;
}

 .lineheight{
  margin-top:100px;
  margin-bottom: 100px;
}
.center{
  margin:auto;
  text-align: center;
  }
.intro-text{
opacity: 0;
transform: translateY(25px);
transition: all .5s ease-in-out;
}
.to-top{
opacity: 1;
transform: translateY(0);
}
.sk{
  display: grid;
  width: 80%;
  height: auto;
  margin:auto;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-gap: 2rem;
  align-items: center;
}